<h2>Calendar</h2>
<div class="row">
  <div class="col-sm-12">
    <form method="post" action="/calendar/openair">
      <button type="submit" class="btn btn-primary">Add To OpenAir</button>
    </form>
  </div>
</div>
<table class="table">
  <thead class="thead-light">
    <th scope="col">Subject</th>
    <th scope="col">Start</th>
    <th scope="col">End</th>
  </thead>
  <tbody>
    {{#each events}}
      <tr>
        <td>{{this.subject}}</td>
        <td>{{this.start.dateTime}} ({{this.start.timeZone}})</td>
        <td>{{this.end.dateTime}} ({{this.end.timeZone}})</td>
      </tr>
    {{/each}}
  </tbody>
</table>